#main{
    margin: 40px 20px;
}
#main .btn{
    margin-left: -60px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.form-control{
    width: 500px;
}
.btn1{
    margin-left: 20px !important;
    padding:10px 40px ;
}